openapi: 3.2.0
info:
  title: AFMR Discovery A2a API
  version: 1.0.1
  description: Institutionally neutral, read-oriented discovery for AFMR 1.0, the AFMR Reputation Attestation Working Draft, and configuration-only Lift Evidence. Nothing described here issues an attestation, confers market admission, establishes universal trust or safety, or authorizes a transaction.
  contact:
    name: Agent Failure Mode Registry
    url: https://afmr.ai/
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://afmr.ai
tags:
- name: A2a
paths:
  /a2a:
    post:
      operationId: a2aSendMessage
      summary: Send a read-only discovery message to the AFMR A2A agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: A2A JSON-RPC response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
      tags:
      - A2a
components:
  schemas:
    Problem:
      type: object
      required:
      - type
      - title
      - status
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    JsonRpcRequest:
      type: object
      required:
      - jsonrpc
      - method
      properties:
        jsonrpc:
          const: '2.0'
        id:
          oneOf:
          - type: string
          - type: number
          - type: 'null'
        method:
          type: string
        params:
          type: object
          additionalProperties: true
    JsonRpcResponse:
      type: object
      required:
      - jsonrpc
      - id
      properties:
        jsonrpc:
          const: '2.0'
        id: {}
        result: {}
        error:
          type: object
  responses:
    MethodNotAllowed:
      description: Method is not supported; inspect Allow and the machine-readable problem document
      headers:
        Allow:
          schema:
            type: string
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
